@font-face {
  font-family: "PP Neue World";
  src:
    url("/Team/fonts/PPNeueWorld-CondensedRegular.woff2") format("woff2"),
    url("/Team/fonts/PPNeueWorld-CondensedRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.team-section {
  background-image: url("/Team/bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  padding: 150px 0 150px;
  color: #fff;
  margin-bottom: 120px;
  position: relative;
}
.container {
}
.team-section-title {
  border-top: 1px solid rgba(122, 122, 122, 0.5);
  padding: 60px 0;
  text-align: center;
  width: 100%;
  font-family: Wix Madefor Text;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.team-section-grid {
  position: relative;
  display: grid;
  gap: 50px 20px;
  grid-template-columns: repeat(4, 1fr);
}

.team-section-grid-bottom-text {
  position: absolute;
  bottom: 40px;
  right: 0;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 3%;
  text-align: justify;
  vertical-align: middle;
  text-transform: uppercase;
  max-width: 420px;
  width: 100%;
}

.team-card-page {
  max-width: 370px;
  flex-shrink: 0;
}

.team-card-top {
  padding: 45px 0 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.70);
  gap: 10px;
  /* min-height: 145px; */
}

.team-card-top-title {
  padding-top: 8px;
  font-family: "PP Neue World";
  font-weight: 400;
  font-size: 33px;
  line-height: 28px;
  text-transform: uppercase;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  max-width: 100%;
}

.team-card-top-position {
  max-width: 100px;
  font-weight: 400;
  font-size: 14.49px;
  line-height: 14.47px;
  color: #d1d4d1;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  height: calc(14.47px * 3);
}

.team-card-bottom {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.team-card-bottom-img {
  max-width: 100px;
  width: 100%;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
}

.team-card-bottom-img img {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  display: block;
}

.team-card-bottom-description {
  color: #d1d4d1;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  max-width: 260px;
  width: 100%;
}

.team-card-bottom-description span {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 1024px) {
  .team-card {
    width: 340px;
    flex-shrink: 0;
  }

  .team-card-top-position {
    font-size: 13px;
    line-height: 100%;
  }

  .team-card-bottom-img {
    width: 100%;
    max-width: 77px;
    flex-shrink: 0;
  }

  .team-img img {
    width: 100%;
    height: 305px;
    display: block;
  }
}

@media (max-width: 500px) {
  .team-card {
    width: 100%;
    flex-shrink: 0;
  }

  .team-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  .team-img img {
    height: auto;
  }

  .team-card-top {
    padding: 35px 0 25px;
  }

  .team-card-bottom {
    padding-top: 20px;
  }

  .team-card-bottom-description {
    max-width: 100%;
  }
}

.bottom-scale {
  width: 100%;
  overflow: hidden;
  padding: 18px 0 14px;
  position: absolute;
  bottom: 0;
}

.bottom-scale-track {
  display: flex;
  width: max-content;
}

.bottom-scale-item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 5px;
  min-width: 40px;
  justify-content: center;
}

.bottom-scale-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #d9d9d9;
  display: block;
}

.bottom-scale-number {
  font-family: Mulish;
  font-weight: 200;
  font-style: ExtraLight;
  font-size: 10px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
@keyframes bottomScaleMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 1240px) {
  .team-section-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .team-section {
    padding: 100px 0 200px;
  }
  .team-section-grid-bottom-text {
    bottom: -80px;
  }
  .team-section-title {
    padding: 60px 0;
  }
}

@media (max-width: 860px) {
  .team-section-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .team-section-grid-bottom-text {
    bottom: -120px;
  }
  .team-section {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .team-section-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-card-page {
    max-width: 100%;
  }

  .team-card-page .team-card-top .team-card-top-title {
    max-width: 100%;
  }

  .team-card-page .team-card-bottom .team-card-bottom-description {
    max-width: 100%;
  }
  .team-section {
    padding: 40px 0 100px;
  }
  .team-section-title {
    border-top: none;
    padding-top: 0;
    text-align: left;
    padding-bottom: 30px;
  }
  .team-section-grid-bottom-text {
    position: static;
    max-width: 100%;
    padding-bottom: 45px;
  }
}
