@font-face {
  font-family: "PP Neue World";
  src:
    url("/Team/fonts/PPNeueWorld-CondensedRegular.woff2") format("woff2"),
    url("/Team/fonts/PPNeueWorld-CondensedRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.video-info-graph {
  margin-top: 120px;
}

.video-info-graph-cards {
  background-color: #fff;
  border-radius: 15px;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.video-info-graph-card-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 30px;
  max-width: 100%;
  width: 100%;
}

.video-info-graph-title {
  max-width: 450px;
  font-family: PP Neue World;
  font-weight: 400;
  font-size: 74px;
  line-height: 72px;
  letter-spacing: -2%;
  vertical-align: middle;
  text-transform: uppercase;
  padding-bottom: 28px;
  position: relative;
}

.video-info-border-bottom {
  position: relative;
}

.video-info-border-bottom::after {
  position: absolute;
  bottom: 20px;
  left: 20px;
  content: "";
  height: 1px;
  max-width: calc(100% - 40px);
  width: 100%;
  background-color: rgba(35, 35, 35, 1);
}

.video-info-graph-card-top h2:first-of-type {
  max-width: 570px;
}

.video-info-graph-card-top h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 1024px) {
  .video-info-graph .container {
    padding: 0;
  }
  .video-info-graph {
    margin-top: 90px;
  }
  .video-info-graph-title {
    padding: 0 20px 28px;
    max-width: 500px;
  }
}

@media (max-width: 720px) {
  .video-info-graph {
    margin-top: 50px;
  }
  .video-info-graph-cards {
    padding: 57px 24px;
  }
  .video-info-graph-card-top {
    flex-direction: column-reverse;
    gap: 20px;
    padding-bottom: 38px;
  }
  .video-info-graph-cards {
    gap: 75px;
  }
  .video-info-graph-title {
    font-size: 64px;
    line-height: 68px;
  }
}

@media (max-width: 480px) {
  .video-info-graph-card-top h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .video-info-graph-card-top {
    flex-direction: column-reverse;
    gap: 10px;
    padding-bottom: 24px;
  }
  .video-info-graph-title {
    font-size: 36px;
    line-height: 36px;
  }
}
