.hero {
  display: flex;
  align-items: center;
  margin-top: 110px;
  height: calc(100vh - 120px);
  margin-bottom: 50px;
}

.hero .container {
  display: flex;
}

.hero-video-container {
  max-width: 600px;
  width: 100%;
}

.hero-video {
  width: 100%;
}
