.tactic {
}
.container {
}
.tactic-title {
  font-family: PP Neue World;
  font-weight: 400;
  font-size: 120px;
  line-height: 108px;
  letter-spacing: -4.88px;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  margin-bottom: 100px;
}
.tactic-cards {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.tactic-card {
  padding: 4px 12px;
  font-family: Wix Madefor Text;
  font-weight: 400;
  font-size: 14x;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;

  background: #f5f4f4;
  border: 1px solid #6e6e6e;
  display: flex;
  text-align: center;

  border-radius: 18px;
}

.tactic-card {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease;
}

.tactic-cards.visible .tactic-card {
  opacity: 1;
  transform: translateY(0);
}

