.for-client {
  background: #d9d9d9;
}
.for-client .container {
  padding: 80px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.for-client-left-text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.for-client-left-text p {
  font-family: Wix Madefor Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.for-client-left-text h2 {
  font-family: PP Neue World;
  font-weight: 400;
  font-size: 64px;
  line-height: 80%;
  letter-spacing: 0%;
}
.for-client-right-img {
  max-width: 50%;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  50% {
    transform: translate(10px, 15px) rotate(8deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@media (max-width: 1100px) {
  .for-client-right-img {
    max-width: 40%;
  }
}

@media (max-width: 900px) {
  .for-client-left-text h2 {
    font-family: PP Neue World;
    font-weight: 400;
    font-size: 40px;
    line-height: 80%;
    letter-spacing: 0%;
  }
  .for-client .container {
    padding: 50px 20px 50px;
  }
  .for-client-left-text {
    gap: 25px;
  }
}

@media (max-width: 760px) {
  .for-client .container {
    flex-direction: column-reverse;
  }
  .for-client-left-text {
    max-width: 600px;
  }
  .for-client-right-img {
    max-width: 600px;
  }
  .for-client .container {
    padding: 50px 20px 95px;
  }

  .for-client-left-text p {
    font-size: 8px;
    line-height: 14px;
  }
}
