@font-face {
  font-family: "PP Neue World";
  src:
    url("/Team/fonts/PPNeueWorld-CondensedRegular.woff2") format("woff2"),
    url("/Team/fonts/PPNeueWorld-CondensedRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.component-text {
  padding: 0px 20px;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}
.component-text .container {
  width: 100%;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 240px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
.component-text-left-side {
  max-width: 40%;
  width: 100%;
}

.component-text-left-side h3 {
  font-family: PP Neue World;
  font-weight: 400;
  font-size: 99px;
  line-height: 100%;
  letter-spacing: -2px;
  vertical-align: middle;
}

.component-text-left-side h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 26px;
}

.component-text-right-side {
  max-width: 60%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.component-text-right-side-text {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0%;
}

.component-text-right-side-text h3 {
  text-transform: uppercase;
  margin-bottom: 45px;
  margin-top: 10px;
}
