.strategy {
  margin-top: 50px;
  padding: 90px 0 130px;
}

.strategy-title {
  font-family: PP Neue World;
  font-weight: 400;
  font-size: 122px;
  line-height: 100%;
  letter-spacing: -4.88px;
  text-transform: capitalize;
  text-align: center;

  position: sticky;
  top: 50vh;
  transform: translateY(-50%);
  z-index: 2;
}

.strategy-cards {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}
.strategy-card {
  box-shadow: 0 -4px 10px #0000001a;
  position: sticky;
  top: 150px;
  background: #f2f2f2;
  max-width: 520px;
  width: 100%;
  padding: 20px 20px 40px;
  border-radius: 15px;
}
.strategy-card-title {
  font-family: Wix Madefor Text;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.strategy-card-description {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 30px;
}
.strategy-card-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.strategy-card-row img {
  border-radius: 10px;
  max-width: 199px;
}

.strategy-card-left-text h3 {
  font-family: Wix Madefor Text;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}
.strategy-card-left-text {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.strategy-card-left-text-list {
  list-style: none;
  padding-left: 0;
  margin-left: 10px;
}

.strategy-card-left-text-list li {
  position: relative;
  padding-left: 18px;

  font-family: Wix Madefor Text;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.strategy-card-left-text-list li::before {
  content: "•";
  font-size: 20px;
  position: absolute;
  left: 0;
}

.strategy-card-price {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.strategy-card-price h3 {
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;
}

.strategy-card-price p {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.strategy-card-column {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.strategy-card-price-button {
  background: #f2f2f27a;
  text-align: center;
  max-width: 199px;
  width: 100%;
  border: 1px solid #6e6e6e;
  padding: 14px 0;

  font-family: Wix Madefor Text;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  border-radius: 50px;

  transition: all 0.3s ease;
}

.strategy-card-price-button:hover {
  color: #fff;
  background-color: #6e6e6e;
}

.hero-accordeon-card-text-gray-premitka {
  font-size: 8px;
  line-height: 8px;
  margin-top: 20px;
  color: #9d9d9d;
  font-weight: 300;
}

@media (max-width: 1100px) {
  .strategy-title {
    font-size: 100px;
  }
}

@media (max-width: 768px) {
  .strategy-title {
    font-size: 80px;
  }
  .strategy-card {
    top: 100px;
    padding: 16px 16px 24px;
    border-radius: 12px;
  }

  .strategy-card-title {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 12px;
  }

  .strategy-card-description {
    font-size: 13px;
    padding-bottom: 20px;
  }

  .strategy-card-column {
    max-width: 250px;
    gap: 16px;
  }

  .strategy-card-left-text h3 {
    font-size: 14px;
    line-height: 16px;
  }

  .strategy-card-left-text-list li {
    font-size: 13px;
    line-height: 18px;
  }

  .strategy-card-row img {
    max-width: 150px;
  }

  .strategy-card-price {
    gap: 15px;
  }

  .strategy-card-row {
    gap: 30px;
  }
}

@media (max-width: 500px) {
  .strategy-title {
    top: 160px;
    font-size: 65px;
    letter-spacing: -2px;
  }

  .strategy-card {
    top: 205px;
  }
  .strategy-card-price h3 {
    text-wrap: nowrap;
  }
}
@media (max-width: 480px) {
  .strategy-card-left-text-list {
    margin-left: 0;
  }
  .strategy-card {
    padding: 14px 14px 20px;
  }

  .strategy-card-title {
    font-size: 16px;
    line-height: 18px;
  }

  .strategy-card-description {
    font-size: 12px;
  }

  .strategy-card-left-text-list li {
    font-size: 12px;
  }
  .strategy-card-left-text-list li {
    padding-left: 10px;
  }
}

@media (max-width: 420px) {
  .strategy-title {
    font-size: 50px;
    letter-spacing: -1.88px;
  }
  .strategy-card-row img {
    max-width: 130px;
  }
  .strategy-card-left-text h3 {
    font-size: 13px;
  }
  .strategy-card-left-text-list li {
    font-size: 11px;
  }
  .strategy-card-left-text {
    gap: 5px;
  }
  .strategy-card-row {
    gap: 15px;
  }
}

@media (max-width: 370px) {
  .strategy-card-left-text {
    margin-top: 0;
  }
  .strategy-card-row img {
    max-width: 100px;
  }
  .strategy-title {
    font-size: 45px;
    letter-spacing: -1.88px;
  }
}
