.best-products {
  margin-top: 120px;
  background-image: url(/best/bg.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
}
.best-products-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.best-products-top h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  text-transform: uppercase;
}

.best-products-top a {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
  border-bottom: 1px solid black;
}

.best-products-cards {
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
  gap: 25px;
}
.best-products-card {
  height: 445px;
  color: #ffffff;
  max-width: 33.333%;
  width: 100%;
  padding: 36px 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.best-products-card-top p {
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  text-transform: capitalize;
}
.best-products-card-top h3 {
  padding-top: 10px;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: 0%;
}
.best-products-card-bottom {
  display: flex;
  gap: 10px 6px;
  flex-wrap: wrap;
}
.best-products-card-bottom-item {
  padding: 5px 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  background: #8a8a8a4d;
  border: 1px solid #ffffff;
  border-radius: 18px;
}

.best-products-team-text {
  max-width: 1180px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 64px;
  padding: 170px 0 50px;
}
.best-products-team-text-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}

.best-products-team-text h2 {
  font-weight: 200;
  font-size: 54px;
  line-height: 54px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-align: justify;
  text-transform: uppercase;
}

.best-products-team-text-top-box {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  max-width: 360px;
  width: 100%;
}

.best-products-team-text-top-comands {
  font-weight: 200;
  font-size: 16px;
  text-align: justify;
  text-align-last: justify;
  padding: 0 6px;
  max-width: 360px;
  width: 100%;
}

.best-products-team-line-blocks {
  display: flex;
  justify-content: space-between;
}
.best-products-team-line-block {
  width: 5px;
  height: 5px;
}
