.stack-cards-section {
  margin-top: 200px;
  margin-bottom: 100px;
}
.stack-cards-title {
  max-width: 340px;
  font-family: Nunito Sans;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 40px;
  /* 
  position: sticky;
  top: 110px; */
}
.stack-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.stack-card {
  height: 70vh;
  min-height: 600px;
  max-block-size: 800px;
  display: flex;
  width: 100%;
  position: sticky;
  top: 100px;
}
.stack-cards-text-block {
  max-width: 100%;
  width: 100%;

  background: rgba(254, 251, 251, 1);
  margin-bottom: 12px;
  border-radius: 24px 0 0 24px;
  padding: 28px 40px 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  box-shadow: 0px -10px 30px #eaeaea;
}
.bottom-scale.left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 15px 10px;
}
.bottom-scale.left .bottom-scale-track {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  font-family: Mulish;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0%;
}
.stack-cards-img-block {
  max-width: 100%;
  width: 100%;
  position: relative;
  border-radius: 0 24px 24px 0;
  background-position: center;
  background-size: cover;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stack-cards-img-block img {
  width: 50%;
  margin-left: 30px;
}
.stack-cards-text-block-content {
  display: flex;
  flex-direction: column;
}
.stack-cards-text-block h2 {
  font-family: Wix Madefor Text;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  max-width: 135px;
}
.stack-cards-text-block-content-card {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 0;
  border-top: 1px solid rgba(104, 104, 104, 1);
}
.stack-cards-text-block-content-card:first-child {
  border-top: none;
}
.stack-cards-text-block-content-card:last-child {
  padding: 35px 0 0;
}
.stack-cards-text-block-content-card h3 {
  max-width: 130px;
  width: 100%;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}
.stack-cards-text-block-content-card-list {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
}
.stack-cards-text-block-content-card-list li {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

@media (max-width: 1100px) {
  .stack-cards-img-block {
    max-width: 40%;
  }
  .stack-cards-text-block-content-card-list li {
    font-size: 14px;
  }
  .stack-cards-text-block-content-card h3 {
    font-size: 16px;
  }
  .stack-cards-text-block-content-card {
    gap: 10px;
  }
  .stack-cards-text-block {
    padding: 28px 30px 54px;
  }
  .stack-cards-text-block-content-card:last-child {
    padding: 20px 0 10px;
  }
  .stack-cards-text-block-content-card {
    padding: 20px 0;
  }
}

@media (max-width: 800px) {
  .bottom-scale.left .bottom-scale-track {
    font-size: 12px;
  }
  .stack-cards-text-block {
    padding: 28px 20px 54px;
  }
}

@media (max-width: 700px) {
  .bottom-scale.left {
    padding: 5px 10px;
  }
  .stack-cards-title {
    padding: 0 0 0 20px;
    max-width: 350px;
    width: 100%;
    margin-bottom: -40px;
    font-size: 20px;
  }
  .stack-cards-section .container {
    padding: 0;
  }
  .stack-mobile {
    position: relative;
    padding-top: 40vh;
  }
  .stack-mobile-imgs {
    position: absolute;
    top: 72px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .stack-cards-img-block {
    height: 60vh;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    margin-bottom: 0;
  }

  .stack-cards-img-block img {
    max-width: 30%;
    margin-left: 0;
  }

  .stack-cards-text-block {
    justify-content: flex-start;
    gap: 35px;
    height: 65vh;
    box-shadow: 0px -4px 10px 0px #0000001a;
    position: sticky;
    top: calc(35vh);
    border-radius: 24px 24px 0 0;
    margin-bottom: 0;
  }

  .stack-mobile-text-blocks {
    position: relative;
    z-index: 5;
    margin-top: -36px;
  }

  .stack-cards-text-block h2 {
    max-width: 100%;
  }
  .stack-cards-text-block-content-card {
    border: none;
    flex-direction: column;
  }

  .stack-cards-text-block-content-card h3 {
    max-width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
  }
  .stack-cards-text-block-content-card-list li {
    font-weight: 300;
    font-size: 13px;
    line-height: 13px;
    margin-left: 15px;
  }
  .stack-cards-text-block-content-card:first-child {
    padding-top: 0;
  }
}
