.video-block {
  width: 100%;
}

.video-block-container {
  width: 100%;
  margin: 0 auto;
  margin-top: -2px;
}

.video-block-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #111827;
}

.video-block-player {
  width: 100%;
  display: block;
  background: #000;
}
